body{font-family: 'Open Sans', sans-serif !important;}
footer{}
/*.greybg{*/
    /*background-color: #D3D3D3 !important;*/
/*}*/

/*MAINPAGE*/
#sectiondiv
{
    height: calc(100vh - 71px);
}
#carddiv, tab-content,.card
{
    border: none !important;
    border-radius: 0px !important;
}
#maindiv
{
    background-image: url("../img/mainbg.jpg"), linear-gradient(to bottom, rgba(248,249,250,1), rgba(151,154,159,1) 100%);
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#sectiondiv {
    /*content:"";*/
    display:block;
    /*position:fixed;*/
    /*width:100%;*/
    /*height:100%;*/
    /*left:0;*/
    /*top:0;*/
    /*z-index:-1;*/
    background: linear-gradient(to bottom, rgba(248,249,250,1), rgba(151,154,159,1) 100%)
}

#bankdiv {
    background-color: rgba(151, 154, 159, 1);
}
#taglinediv
{
    margin: auto;
}
/*End of Mainpage*/

/*Insurance*/
#insuranceUserNeeds a{
    color:black;
    text-decoration:none;
}

#insuranceSquares a{
    color:black;
    text-decoration:none;
}

#insuranceSquares1 a{
    color:black;
    text-decoration:none;
}

/* End of Insurance*/


/*Investment*/
#stocktable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
>>>>>>> fixed modal
}

#stocktable, td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
>>>>>>> Stashed changes
}

/*#form .radio {*/
    /*position: absolute;*/
    /*opacity: 0;*/
    /*cursor: pointer;*/
/*}*/
/*.tick:before*/
/*{*/
    /*content: "";*/
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 0;*/
/*}*/

/*End of Investment*/

/*Insurance Account*/
#insurBlock{
    border-style: hidden;
    background-color: #ececec;
    text-align: left;
    width: auto;
    padding: 5px;
    margin: 25px 25px 0 25px;
}

#insurTable{
    width: 96%;
    padding: 15px;
    margin: 2%;
    border: 1px solid black;
    border-collapse: separate;
}

#insurTable1{
    width: 96%;
    padding: 15px;
    margin: 2%;
    border-collapse: separate;
}

#insurTile{
    text-align: left;
    background-color: #ececec;
    width: 25%;
}

.insurmodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.insurModal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-body{
    text-align: left;
}

.insurClose {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.insurClose:hover, .insurClose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*.notification {*/
    /*display: inline-block;*/
    /*color: red;*/
    /*font-size: x-large;*/
    /*font-style: italic;*/
    /*height: 5%;*/
    /*border-color: white;*/
    /*background-color: white;*/
    /*border-style: solid;*/
    /*border-width: 2px;*/
    /*width: auto;*/
    /*padding: 5px;*/
    /*margin: 0px 25px 0 25px;*/
    /*transform-origin: left;*/
    /*!*-webkit-animation: notify 3s ease-in-out infinite;*/
    /*animation: notify 3s ease-in-out infinite; *!*/
/*}*/

/*@-webkit-keyframes notify {*/
  /*0% {transform: scaleX(0);}*/
  /*10% {transform: scaleX(1);}*/
  /*13% {transform: scale(1.1);}*/
  /*16% {transform: scale(1);}*/
  /*55% {transform: scaleX(1); border-radius: 0%;}*/
  /*65% {transform: scaleX(0.25); border-radius: 50%;}*/
  /*95% {transform: scaleX(0.25); border-radius: 50%;}*/
  /*100% {transform: scaleX(0);}*/
/*}*/

/*@keyframes notify {*/
  /*0% {transform: scaleX(0);}*/
  /*10% {transform: scaleX(1);}*/
  /*13% {transform: scale(1.1);}*/
  /*16% {transform: scale(1);}*/
  /*55% {transform: scaleX(1); border-radius: 0%;}*/
  /*65% {transform: scaleX(0.25); border-radius: 50%;}*/
  /*95% {transform: scaleX(0.25); border-radius: 50%;}*/
  /*100% {transform: scaleX(0);}*/
/*}*/

/*.identifier {*/
  /*position: absolute;*/
  /*height: 20px;*/
  /*width: 20px;*/
  /*border-radius: 50%;*/
  /*background-color: #FF0000;*/
  /*margin-top: 5.5px;*/
  /*margin-left: 7.5px;*/
  /*text-align: center;*/
  /*-webkit-animation: exit 5s ease-in-out infinite;*/
  /*animation: exit 3s ease-in-out infinite;*/
/*}*/

/*.content{*/
    /*display: inline-block;*/
/*}*/

/*.text {*/
    /*display: inline-block;*/
    /*font-size: medium;*/
    /*position: absolute;*/
    /*height: 25px;*/
    /*text-align: left;*/
    /*color: red;*/
    /*-webkit-animation: exit 5s ease-in-out infinite;*/
    /*animation: exit 3s ease-in-out infinite;*/
/*}*/

/*@-webkit-keyframes exit {*/
  /*0% {opacity: 1;}*/
  /*55% {opacity: 1;}*/
  /*65% {opacity: 0;}*/
  /*100% {opacity: 0;}*/
/*}*/

/*@keyframes exit {*/
  /*0% {opacity: 1;}*/
  /*55% {opacity: 1;}*/
  /*65% {opacity: 0;}*/
  /*100% {opacity: 0;}*/
/*}*/

/*@-webkit-keyframes enter {*/
  /*0% {opacity: 0;}*/
  /*55% {opacity: 0;}*/
  /*65% {opacity: 1; transform: scaleX(1);}*/
  /*95% {opacity: 1; transform: scaleX(1);}*/
  /*100% {opacity: 0; transform: scaleX(1);}*/
/*}*/

/*@keyframes enter {*/
  /*0% {opacity: 0;}*/
  /*55% {opacity: 0;}*/
  /*65% {opacity: 1; transform: scaleX(1);}*/
  /*95% {opacity: 1; transform: scaleX(1);}*/
  /*100% {opacity: 0; transform: scaleX(1);}*/
/*}*/

#insuranceNewPolicy a{
    text-decoration: none;
}
/*End of Insurance Account*/

/*Expenditure Dashboard*/
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-badge.primary {
  background-color: #2e6da4 !important;
}

.timeline-badge.success {
  background-color: #3f903f !important;
}

.timeline-badge.warning {
  background-color: #f0ad4e !important;
}

.timeline-badge.danger {
  background-color: #d9534f !important;
}

.timeline-badge.info {
  background-color: #5bc0de !important;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}
/*End of Expenditure Dashboard*/

