{% from "includes/_formhelper.html" import render_field %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand active" href="/"><img src="../../static/img/logo.png" width="100" height="70" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% if session['UserID'] != null %}
      <li class="nav-item">
        <a class="nav-link" href="/expenditure">Expenditure</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/investment" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Investment
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/portfolio">Stock Portfolio</a>
          <a class="dropdown-item" href="/recommendations">Recommendation</a>
          <a class="dropdown-item" href="/investhist">Transaction History</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/market">Stock Market</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/insuranceMain" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Insurance
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/insuranceMain">Overview</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/insuranceAcc">Account</a>
            <a class="dropdown-item" href="/insuranceAccDetails">Summary</a>
            <a class="dropdown-item" href="/insuranceForm">Add new policy</a>
          {% endif %}
        </div>
      </li>
      {% if session['UserID'] != null %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/giro" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          GIRO
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/giroOwned">Account</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/giro">Application</a>
        </div>
      </li>
      {% endif %}
    </ul>
    {% if session['UserID'] != null %}
    <div class="dropdown">
      <button type="button" class="btn badge badge-pill badge-danger mr-1" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="far fa-bell fa-2x"></i></button>
      <div class="dropdown-menu dropdown-menu-right">
      {% for notification in session.get('Notification') %}
        {% if notification == "Nothing" %}
            <p class="dropdown-item text-secondary"> There is no notification</p>
        {% endif %}
        {% if notification == "Insurance" %}
          {% for insurance in session.get('Notification')[notification] %}
            {% if session.get('Notification')[notification][insurance] > 1 %}
              <p class="dropdown-item text-secondary"><b class="text-dark">Insurance:</b> {{ insurance }} monthly payment due in <span class="text-danger font-weight-bold">{{ session.get('Notification')[notification][insurance] }}</span> days!</p>
            {% elif session.get('Notification')[notification][insurance] == 1 %}
              <p class="dropdown-item text-secondary"><b class="text-dark">Insurance:</b> {{ insurance }} monthly payment due <span class="text-danger font-weight-bold">tomorrow</span>!</p>
            {% elif session.get('Notification')[notification][insurance] == 0 %}
              <p class="dropdown-item text-secondary"><b class="text-dark">Insurance:</b> {{ insurance }} monthly payment due <span class="text-danger font-weight-bold">today</span>!</p>
            {% endif %}
          {% endfor %}
        {% endif %}
        {% if notification == "GIRO" %}
            {% for giro in session.get('Notification')[notification] %}
                <p class="dropdown-item text-danger font-weight-bold"> {{ session.get('Notification')[notification][giro] }}</p>
            {% endfor %}
        {% endif %}
        {% if notification == "Budget" %}
            {% for budget in session.get('Notification')[notification] %}
                <p class="dropdown-item text-danger font-weight-bold"> {{ budget }}</p>
            {% endfor %}
        {% endif %}
      {% endfor %}
      </div>
    </div>
    <div class="dropdown">
      <button type="button" class="btn badge badge-pill badge-info mr-1" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-tie fa-2x"></i></button>
      <div class="dropdown-menu dropdown-menu-right">
        <h2 class="dropdown-header">Welcome back {{ session['Name'] }} !</h2>
        <div class="dropdown-divider"></div>
        <button class="btn dropdown-item" data-toggle="modal" data-target="#exampleModal">Account</button>
        <div class="dropdown-divider"></div>
        <a href="/logout" class="dropdown-item">Logout</a>
      </div>
    </div>
  {% else %}
      <a href="/signup"><button class="btn btn-info mr-1">Sign Up</button></a>
      <a href="/login"><button class="btn btn-success mr-1">Login</button></a>
  {% endif %}
  </div>
</nav>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Account details</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <form class="container justify-content-md-center" method="POST" action="">
      {% for user in userList %}
        {% for account in accountList %}
        {% if userList[user].get_accountID() == session.get('UserID') %}
          {% if session['Name'] == account.get_name()%}
            <div class="d-flex">
              <h5 class="mr-2">Name:</h5>
              <p> {{ account.get_name() }} </p>
              <div class="ml-auto">
                {% if account.get_bank() == "" or account.get_phoneNum() == "" %}
                  <button type="button" id="editProfile" class="btn btn-light btn-sm rounded text-secondary"> Update profile</button>
                {% else %}
                  <button type="button" id="editProfile" class="btn btn-light btn-sm rounded text-secondary"> Edit profile</button>
                {% endif %}
              </div>
            </div>
            <div class="d-flex mt-2">
              <h5 class="mr-2">Preferred Bank: </h5>
              <p id="currentBank"> {{ userList[user].get_preferredType() }} </p>
              {% if account.get_bank() != "" %}
                {{ render_field(accountForm.bank, class_="form-control w-25", id="profileBank", placeholder="Bank Name", value=account.get_bank()) }}
              {% elif  account.get_bank() == "" %}
                {{ render_field(accountForm.bank, class_="form-control w-25", id="profileBank", placeholder="Bank Name", value=account.get_bank()) }}
              {% endif %}
            </div>
          {% endif %}
        {% endif %}
        {% endfor %}
      {% endfor %}
      <div class="modal-footer mt-3 pb-0" id="profileFooter">
        <input type="submit" id="saveChanges" class="btn btn-primary" value="Save changes">
      </div>
      </form>
      </div>
    </div>
  </div>
</div>

<script>
    $('#profileBank').css("display", "none");
    $('#profilePhone').css("display", "none");
    $('#saveChanges').css("display", "none");
    $('#profileFooter').css("display", "none");
    $("#editProfile").click(function() {
        $("#profileBank").show();
        $("#profilePhone").show();
        $("#saveChanges").show();
        $("#profileFooter").show();
        $("#currentBank").css("display", "none");
        $("#currentPhone").css("display", "none");
        $("#editProfile").css("display", "none");
    });
</script>