{% extends 'layout.html' %}
{% block body %}
<section class="container">
<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Phone Number/NRIC</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Phone Number or NRIC Number">
        <small id="emailHelp" class="form-text text-muted">Enter Phone Number/NRIC of Saver</small>
    </div>
    <div class="form-group">
    <label for="exampleFormControlTextarea1">Comment</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</section>
{% endblock %}