{% for user in users %}
    <p>User ID: {{ user.get_accountID() }}</p>
    <p>NRIC: {{ user.get_nric() }}</p>
    <p>Password: {{ user.get_password() }}</p>
    <p>Bank Type: {{ user.get_bankType() }}</p>
    <br>
{% endfor %}

{% for account in accounts %}
    <p>Account Number: {{ account.get_accountNumber() }}</p>
    <p>Name: {{ account.get_name() }}</p>
{% endfor %}

