{% extends 'layout.html' %}
{% block body %}
{% from "includes/_formhelper.html" import render_field %}
<script>
    $(document).ready(function ()
    {
        $('#savers').hide();
        $("#savingType").load(function()
        {
            if ($(this).val() !='Personal')
            {
                $('#savers').show();
            }
            else
            {
                $('#savers').hide();
            }
        });
    });
    $(document).ready(function ()
    {
        $('#savingAmount').hide();
        $('#bankAccounts').hide();
        $("input[name=savingMethod]").change(function ()
        {
            if ($(this).val() =='Auto')
            {
                $('#savingAmount').show();
                $('#bankAccounts').show();
            }
            else
            {
                $('#savingAmount').hide();
                $('#bankAccounts').hide();
            }
        });
    });
    $(document).ready(function ()
    {
        $("input[name=savingMethod]").ready(function ()
        {
            if ($("input[name=savingMethod]:checked").val() == 'Auto')
            {
                $('#savingAmount').show();
                $('#bankAccounts').show();
            }
            else
            {
                $('#savingAmount').hide();
                $('#bankAccounts').hide();
            }
        });
    });
</script>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb container">
    <li class="breadcrumb-item"><a href="/expenditure">Expenditure</a></li>
      <li class="breadcrumb-item"><a href="/viewSavings/{{ saving.get_savingID() }}">Saving</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit Saving</li>
  </ol>
</nav>
<section class="bg-light mt-3 container border border-secondary">
    <div>
        <form method="POST" action="">
            <div class="form-group">
                {{ render_field(form.savingType, class_="form-control-plaintext", id="savingType", disabled=False ) }}
            </div>
            <div class="form-group">
                {{ render_field(form.savingGoal, class_="form-control", type="number", min="0") }}
            </div>
            <div class="form-group">
                {{ render_field(form.savingDeadline, class_="form-control", type="date", min=date) }}
            </div>
            <div id="savers">
                {{ render_field(form.savingSavers, class_="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(form.savingMethod, class_="ml-2 list-unstyled", id="savingMeth") }}
            </div>
            <div class="form-group" id="savingAmount">
            {{ render_field(form.savingAmount, class_="form-control", type="number") }}
            </div>
             <div class="form-group" id="bankAccounts">
                {{ render_field(form.bankAccounts, class_="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(form.savingDescription, class_="form-control") }}
            </div>
            <div class="d-flex justify-content-end">
                {{ form.savingSubmit (class="btn btn-info") }}
            </div>
        </form>
    </div>
</section>
<!--<section class="bg-light mt-3 container border border-secondary">-->
    <!--<div>-->
        <!--&lt;!&ndash;<button class="badge badge-pill badge-primary float-right mt-2">Edit</button>&ndash;&gt;-->
        <!--<form>-->
            <!--<div class="form-group row">-->
                <!--<label for="staticType" class="col-sm-2 col-form-label">Type</label>-->
                <!--<div class="col-10">-->
                  <!--<input type="text" readonly class="form-control-plaintext" id="staticType" value="Group">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<label for="amount">Savings Goal</label>-->
            <!--<div class="input-group">-->
                <!--<div class="input-group-prepend">-->
                  <!--<div class="input-group-text">$</div>-->
                <!--</div>-->
                <!--<input type="text" class="form-control" id="amount" placeholder="2000">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label for="deadline">Deadline</label>-->
            <!--<div class="input-group">-->
                <!--<input type="date" class="form-control" id="deadline" value="31/12/2018">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label for="savers">Savers</label>-->
            <!--<span class="rounded-circle btn btn-success">-->
                <!--<i class="fas fa-plus"></i>-->
            <!--</span>-->
            <!--<div class="input-group">-->
                <!--<button type="button" class="close col-1" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                <!--<input type="text" readonly class="col-11 form-control-plaintext" id="staticSavers" value="Zheng Jie (81234567)">-->
                <!--<input type="text" class="form-control" id="savers" placeholder="NRIC/Phone Number">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label for="description">Description</label>-->
            <!--<textarea class="form-control" id="description" rows="4" placeholder="Travel To Japan"></textarea>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label>Deposit By (Monthly)</label>-->
            <!--<div class="form-check">-->
              <!--<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">-->
              <!--<label class="form-check-label" for="exampleRadios1">Auto Deposit</label>-->
                <!--<input type="text" class="form-control" placeholder="Amount">-->
                <!--<select class="form-control" id="exampleFormControlSelect1">-->
                  <!--<option>DBS (123-33333-4)</option>-->
                  <!--<option>OCBC (123-44444-5)</option>-->
                  <!--<option>UOB (123-55555-6)</option>-->
                <!--</select>-->
            <!--</div>-->
            <!--<div class="form-check">-->
              <!--<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" checked>-->
              <!--<label class="form-check-label" for="exampleRadios2">Manually</label>-->
            <!--</div>-->
        <!--</div>-->
            <!--<button type="submit" class="btn btn-primary">Save</button>-->
            <!--<button type="submit" class="btn btn-danger">Cancel</button>-->

        <!--</form>-->
    <!--</div>-->
<!--</section>-->
{% endblock %}