{% extends 'layout.html' %}
{% block body %}
<!--Breadcrumb-->
<div class="container">
<nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/expenditure_Dash/{{ bank }}/{{ month }}">Dashboard {{ bank }}</a></li>
        <li class="breadcrumb-item active">Total spending</li>
      </ol>
</nav>
<!-- Button trigger modal -->
<button type="button" class="btn btn-light shadow btn-outline-secondary d-block" data-toggle="modal" data-target="#exampleModalCenter">
  <i class="fas fa-plus-circle text-success mr-1"></i>See report detail
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Pie chart report detail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table  table-borderless">
          <thead>
            <tr>
              <th scope="col">Category</th>
              <th scope="col" class="text-center">Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
             {% for category, amount in nochart1.items() %}
                <th scope="row">{{ category }}</th>
                  <td class="text-center"> $ {{ "%.2f" | format(amount) }}</td>
            </tr>
             {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--Graph-->
<div class="d-flex">
        <div class="container mt-5" align="center">
            <embed type="image/svg+xml" src={{pie|safe}} style='max-width:700px'/>
        </div>
</div>
</div>







{% endblock %}
