{% extends 'layout.html' %}
{% block body %}
<div class="container">
<!--Breadcrumb-->
<nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/expenditure_Dash/{{ bank }}/{{ month }}">Dashboard {{ bank }}</a></li>
        <li class="breadcrumb-item active">Monthly transactions</li>
      </ol>
</nav>

<!--Different types of transactions-->
<div class="border border-secondary bg-light shadow rounded mb-2 text-center">
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Category</th>
      <th scope="col">Description</th>
      <th scope="col">Type</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
  {% for date,list in similar_transactions.items() %}
    <tr>

      <th scope="row">{{ date }}</th>
        {% for info in list %}
      <td>{{ info }}</td>

    {% endfor %}
    {% endfor %}
    </tr>
  </tbody>
</table>
</div>
</div>

{% endblock %}
