{% extends 'layout.html' %}
{% block body %}
<section class="container mt-3">
    {% for bank in banks %}
    <section id="accounts" class="border border-secondary bg-light shadow p-3 mb-5 rounded">
        {% if banks[bank]|length == 2 %}
            <a href="/expenditure_Dash/{{ banks[bank][0].get_bankName() }}/{{ month }}"><h3 class="text-center">{{ banks[bank][0].get_bankName() }}({{ banks[bank][0].get_accountNum() }})</h3></a>
            <div class="d-flex text-center">
                <div class="col-6 border-right">
                    <h3 class="">{{ banks[bank][0].get_accType() }} Account</h3>
                    <h5 class="">${{ "%.2f" | format(banks[bank][0].get_savingBal()) }}</h5>
                </div>
                <div class="col-6  border-left">
                    <h3 class="">{{ banks[bank][1].get_accType() }} Account</h3>
                    <h5 class="">${{ "%.2f" | format(banks[bank][1].get_currentBal()) }}</h5>
                </div>
            </div>
        {% else %}
            <a href="/expenditure_Dash/{{ banks[bank][0].get_bankName() }}/{{ month }}"><h3 class="text-center">{{ banks[bank][0].get_bankName() }}({{ banks[bank][0].get_accountNum() }})</h3></a>
            <div class="d-flex text-center">
                <div class="col-6 border-right">
                    <h3>{{ banks[bank][0].get_accType() }} Account</h3>
                    <h5>${{ "%.2f" | format(banks[bank][0].get_savingBal()) }}</h5>
                </div>
            </div>
        {% endif %}
    </section>
    {% endfor %}

    <section id="bar-graph" class="embed-responsive embed-responsive-4by3 border border-secondary bg-light d-block shadow mb-5 rounded ">
        <embed class="embed-responsive-item" src= {{ bar|safe }} >
    </section>

    <section id="group-saving" class="border border-secondary bg-light shadow p-3 mb-3 rounded">
        <div class="">
            <div class="d-flex">
                <h2 class="col-6">Savings</h2>
                <div class="col-6">
                    <a href="/newSaving"><button class="btn btn-outline-success float-right">New Savings</button></a>
                </div>
            </div>
            <div class="d-block">
            {% for saving in savings %}
                {% set percentage = "style=width:" ~ saving.get_percentage() ~ "%;" %}
                {% if saving.get_deadline() < date %}
                    <h4 class="mt-2"><a href="/viewSavings/{{ saving.get_savingID() }}" class="text-warning">{{ saving.get_description() }} ({{ saving.get_deadline() }})</a></h4>
                {% else %}
                    <h4 class="mt-2"><a href="/viewSavings/{{ saving.get_savingID() }}" class="text-info">{{ saving.get_description() }} ({{ saving.get_deadline() }})</a></h4>
                {% endif %}
                {% if saving.get_percentage() < 30|e %}
                    <div class="progress">
                      <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="{{ saving.get_savedAmount() }}" aria-valuemin="0" aria-valuemax="{{ saving.get_goal() }}" {{ percentage }}>{{ saving.get_savedAmount() }} / {{ saving.get_goal() }}</div>
                    </div>
                {% elif saving.get_percentage() < 50|e  %}
                    <div class="progress">
                      <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="{{ saving.get_savedAmount() }}" aria-valuemin="0" aria-valuemax="{{ saving.get_goal() }}" {{ percentage }}>{{ saving.get_savedAmount() }} / {{ saving.get_goal() }}</div>
                    </div>
                {% else %}
                    <div class="progress">
                      <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="{{ saving.get_savedAmount() }}" aria-valuemin="0" aria-valuemax="{{ saving.get_goal() }}" {{ percentage }}>{{ saving.get_savedAmount() }} / {{ saving.get_goal() }}</div>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </section>
</section>
{% endblock %}
