{% extends 'layout.html' %}
{% block body %}
{% from "includes/_formhelper.html" import render_field %}
<!--Nav bar-pill-->
<section class="">
    <nav>
        <div class="nav nav-tabs d-flex text-center" id="nav-tab" role="tablist">
            <a class="col-4 nav-item nav-link active" id="nav-dashboard-tab" data-toggle="tab" href="#nav-dashboard" role="tab" aria-controls="nav-dashboard" aria-selected="false">DashBoard({{ bank }})
            <span class="float-right dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="sr-only ">Toggle Dropdown</span></span>
                <div class="dropdown-menu">
            {% for bank in banks %}
            <button class="dropdown-item" onclick="location.href='/expenditure_Dash/{{ bank }}/{{ month }}'">{{ bank }}</button>
            {% endfor %}
                    <!--<button class="dropdown-item" onclick="location.href='/expenditure_Dash/DBS/{{ month }}'">DBS</button>-->
                    <!--<button class="dropdown-item" onclick="location.href='/expenditure_Dash/UOB/{{ month }}'">UOB</button>-->
                </div>
            </a>
            <a class="col-4 nav-item nav-link" id="nav-transactionhist-tab" data-toggle="tab" href="#nav-transactionhist" role="tab" aria-controls="nav-profile" aria-selected="false">Transaction History</a>
            <a class="col-4 nav-item nav-link" id="nav-graphs-tab" data-toggle="tab" href="#nav-graphs" role="tab" aria-controls="nav-contact" aria-selected="false">Timeline</a>
        </div>
    </nav>
</section>
<!--</section>-->
    <!--DashBoard-->
        <!--Nav bar-->

        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-dashboard" role="tabpanel" aria-labelledby="nav-home-tab">
                <section class="container">
                    <!--Button-->
                    <div class="btn-group mt-2 ml-3 justify-content-end d-flex">
                      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ month }}
                      </button>
                      <div class="dropdown-menu dropdown-menu-right">
                      <form name="months" method="GET" action="/">
                          {% for month in months %}
                              {% if month == 'Nov' %}
                                <a class="dropdown-item" tabindex="-1" href="/expenditure_Dash/{{ bank }}/{{ month }}">{{ month }}</a>
                              {% elif month == 'Dec' %}
                                <a class="dropdown-item" href="/expenditure_Dash/{{ bank }}/{{ month }}">{{ month }}</a>
                              {% elif month == 'Jan' %}
                                <a class="dropdown-item" href="/expenditure_Dash/{{ bank }}/{{ month }}">{{ month }}</a>
                              {% elif month == 'Feb' %}
                                <a class="dropdown-item" href="/expenditure_Dash/{{ bank }}/{{ month }}">{{ month }}</a>
                              {% endif %}
                          {% endfor %}
                      </form>
                      </div>
                    </div>

                <div class="d-flex text-center bg-light mt-2">
                    <a href="/expenditure_payment/{{ bank }}/{{ month }}" class=" badge-light col-4 shadow bg-light mr-2">
                        {% if count == 0 %}
                        <h3 class="my-5">Click in to see the number of monthly similar transactions</h3>
                        {% else %}
                        <h2 class="my-5">{{ count }} Monthly Similar Transactions</h2>
                        {% endif %}


                    </a>
                    <a href="/expenditure_tspending/{{ bank }}/{{ month }}" class=" badge-light col-4 shadow bg-light mr-2">
                        <h5 class="mt-2">Total spent:</h5>
                        {% if current_month > previous_month %}
                                <p style="font-size: 3em;"> ${{ "%.2f" | format(withdrawal) }}
                                <i class="fas fa-arrow-up text-danger"></i></p>
                        {% elif current_month < previous_month %}
                                <p style="font-size: 3em;"> ${{ "%.2f" | format(withdrawal) }}
                                <i class="fas fa-arrow-down text-success"></i></p>
                        {% endif %}
                    <hr>
                        {% if current_month == difference %}
                        <p>{{ "%.2f" | format(100) }} % </p>
                        {% elif current_month > previous_month %}
                        <p>{{ "%.2f" | format(difference) }} % increase</p>
                        {% elif current_month < previous_month %}
                        <p>{{ "%.2f" | format(difference) }} % decrease</p>

                        {% endif %}


                    </a>
                    <a href="/expenditure_formbudget/{{ bank }}/{{ month }}" class=" badge-light col-4 shadow bg-light mr-2">
                        <h5 class="mt-2">Budget Left:</h5>
                        {% if budget_list[0] == "None" %}
                            <p style="font-size: 1em;" class="my-5">Click in to see how much is left!</p>
                        {% else %}
                        <p style="font-size: 3em;" class="mx-auto my-auto d-block">${{ "%.2f" | format(budget_list[2] - budget_list[1]) }}</p>
                        <p style="font-size: 1em;" class="mx-auto my-auto d-block">Category:{{ budget_list[0] }}</p>
                        {% endif %}
                    </a>
                </div>
                    <!--Graph for dashboard-->
                    <div class="d-flex">
                        <div class="container mt-5" align="center">
                            <embed type="image/svg+xml" src="{{bar|safe}}" style='max-width:700px'/>
                        </div>
                    </div>
                </section>

            </div>

    <!--Transaction History tab-->
            <div class="tab-pane fade" id="nav-transactionhist" role="tabpanel" aria-labelledby="nav-profile-tab">
                <section class="container">
                <h2 class="d-inline">Transaction History <h5 class="d-inline">for {{ month }} {{ bank }}</h5></h2>
{#                <!-- Button trigger modal -->#}
{#                    <button type="button" class="btn btn-light shadow btn-outline-secondary d-block" data-toggle="modal" data-target="#exampleModalCenter">#}
{#                      <i class="fas fa-plus-circle text-success mr-1"></i>Add Transaction#}
{#                    </button>#}
{##}
{#                    <!-- Modal -->#}
{#                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">#}
{#                      <div class="modal-dialog modal-dialog-centered" role="document">#}
{#                        <div class="modal-content">#}
{#                          <div class="modal-header">#}
{#                            <h5 class="modal-title" id="exampleModalLongTitle">Enter transaction details</h5>#}
{#                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                              <span aria-hidden="true">&times;</span>#}
{#                            </button>#}
{#                          </div>#}
{#                            <form method="POST">#}
{#                          <div class="modal-body">#}
{#                            {{  render_field(form.date, class_="form-control") }}#}
{#                            {{  render_field(form.categories_code, class_="form-control") }}#}
{#                            {{  render_field(form.description, class_="form-control", placeholder="Description: Example: Macs") }}#}
{#                            {{  render_field(form.choice, class_="list-unstyled") }}#}
{#                            {{  render_field(form.amount, class_="form-control", placeholder="Amount") }}#}
{#                          </div>#}
{#                          <div class="modal-footer">#}
{#                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>#}
{#                            <input type="submit" class="btn btn-primary" value="Submit">#}
{#                          </div>#}
{#                            </form>#}
{#                        </div>#}
{#                      </div>#}
{#                    </div>#}

            <div class="table-responsive">
                <table class="table table-striped mt-2 table-sm">
            <thead>
              <tr>
                <th>Date
                <span onclick=""><i class="fas fa-sort"></i></span>
                </th>
                  <th>MCC
                  <i class="fas fa-sort"></i>
                  </th>
                  <th>Category
                  <i class="fas fa-sort"></i>
                  </th>
                  <th>Description
                  <i class="fas fa-sort"></i>
                  </th>
                  <th>Deposits
                  <i class="fas fa-sort"></i>
                  </th>
                  <th>Withdrawals
                  <i class="fas fa-sort"></i>
                  </th>
                  <th>Balance</th>
              </tr>
            </thead>
            <tbody>
            {% for transaction in transactionlist %}
                {% if transaction.get_bank() == bank %}
                {% if transaction.get_month() == month %}
              <tr>
                <td>{{ transaction.get_date() }}</td>
                <td>{{ transaction.get_merchant_code() }}</td>
                <td>{{ transaction.get_category() }}</td>
                <td>{{ transaction.get_description() }}</td>
                {% if transaction.get_type() == "Deposit" %}
                <td>{{ "%.2f" | format(transaction.get_amount()) }}</td>
                <td>&nbsp</td>
                {% elif transaction.get_type() == "Withdrawal" %}
                <td>&nbsp</td>
                <td>{{ "%.2f" | format(transaction.get_amount()) }}</td>
                {% endif %}
                <td>{{ "%.2f" | format(transaction.get_balance()) }}</td>
                  <!--{% if transaction.get_type() == "Deposit" %}-->
                <!--<td>{{ "%.2f" | format(transaction.get_balance() - transaction.get_amount()) }}</td>-->
                  <!--{% elif transaction.get_type() == "Withdrawal" %}-->
                <!--<td>{{ "%.2f" | format(transaction.get_balance() + transaction.get_amount()) }}</td>-->
                  <!--{% endif %}-->
              </tr>
                {% endif %}
                {% endif %}
            {% endfor %}
            </tbody>
            </table>
            </div>
            </section>
            </div>


    <!--Timeline tab-->
            <div class="tab-pane fade" id="nav-graphs" role="tabpanel" aria-labelledby="nav-contact-tab">
                <section class="container">
                        <div class="container">
                              <div class="page-header text-center">
                                  <h1 class="text-centre">Weekly Spendings</h1><h5 class="d-inline">for {{ month }} {{ bank }}</h5></div>
                              </div>
                              <ul class="timeline">
                                <li>
                                  <div class="timeline-badge">1st<i class="glyphicon glyphicon-check"></i></div>
                                  <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title"><a href="/week_1/{{ bank }}/{{ month }}">Week 1</a></h4>
                                    </div>
                                    <div class="timeline-body">
                                        <table class="table  table-borderless">
                                              <thead>
                                                <tr>
                                                  <th scope="col">Date</th>
                                                  <th scope="col" class="text-center">Amount</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                <tr>
                                                 {% for dates,amount in new_dic1.items() %}
                                                    <th scope="row">{{ dates }}</th>
                                                      <td class="text-center"> $ {{ "%.2f" | format(amount) }}</td>
                                                </tr>
                                                 {% endfor %}
                                                <hr>
                                                <tr>
                                                <th scope="row">Total</th>
                                                <td class="text-center"> ${{ "%.2f" | format(a) }}</td>
                                                </tr>
                                              </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                  <div class="timeline-badge warning">2nd<i class="glyphicon glyphicon-credit-card"></i></div>
                                  <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title"><a href="/week_2/{{ bank }}/{{ month }}">Week 2</a></h4>
                                    </div>
                                    <div class="timeline-body">
                                      <table class="table  table-borderless">
                                              <thead>
                                                <tr>
                                                  <th scope="col">Date</th>
                                                  <th scope="col" class="text-center">Amount</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                <tr>
                                                {% for dates in new_dic2 %}
                                                    <th scope="row">{{ dates }}</th>
                                                      <td class="text-center"> $ {{ "%.2f" | format(new_dic2[dates]) }}</td>
                                                </tr>
                                                 {% endfor %}
                                                <hr>
                                                <tr>
                                                <th scope="row">Total</th>
                                                <td class="text-center"> ${{ "%.2f" | format(b) }}</td>
                                              </tbody>
                                            </table>
                                    </div>
                                  </div>
                                </li>
                                  <li>
                                  <div class="timeline-badge info">3rd<i class="glyphicon glyphicon-floppy-disk"></i></div>
                                  <div class="timeline-panel">
                                    <div class="timeline-heading">
                                      <h4 class="timeline-title"><a href="/week_3/{{ bank }}/{{ month }}">Week 3</a></h4>
                                    </div>
                                    <div class="timeline-body">
                                      <table class="table  table-borderless">
                                              <thead>
                                                <tr>
                                                  <th scope="col">Date</th>
                                                  <th scope="col" class="text-center">Amount</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                <tr>
                                                {% for dates in new_dic3 %}
                                                    <th scope="row">{{ dates }}</th>
                                                      <td class="text-center"> $ {{ "%.2f" | format(new_dic3[dates]) }}</td>
                                                </tr>
                                                 {% endfor %}
                                                <hr>
                                                <tr>
                                                <th scope="row">Total</th>
                                                <td class="text-center"> ${{ "%.2f" | format(c) }}</td>
                                              </tbody>
                                            </table>
                                    </div>
                                  </div>
                                </li>
                                  <li class="timeline-inverted">
                                  <div class="timeline-badge success">4th<i class="glyphicon glyphicon-thumbs-up"></i></div>
                                  <div class="timeline-panel">
                                    <div class="timeline-heading">
                                      <h4 class="timeline-title"><a href="/week_4/{{ bank }}/{{ month }}">Week 4</a></h4>
                                    </div>
                                    <div class="timeline-body">
                                      <table class="table  table-borderless">
                                              <thead>
                                                <tr>
                                                  <th scope="col">Date</th>
                                                  <th scope="col" class="text-center">Amount</th>
                                                </tr>
                                                 </thead>
                                              <tbody>
                                                <tr>
                                                {% for dates in new_dic4 %}
                                                    <th scope="row">{{ dates }}</th>
                                                      <td class="text-center"> $ {{ "%.2f" | format(new_dic4[dates]) }}</td>
                                                </tr>
                                                 {% endfor %}
                                                <hr>
                                                <tr>
                                                <th scope="row">Total</th>
                                                <td class="text-center"> ${{ "%.2f" | format(d) }}</td>
                                              </tbody>
                                            </table>
                                    </div>
                                  </div>
                                </li>
                              </ul>
                </section>

            </div>

        </div>



{% endblock %}
