{% extends 'layout.html' %}
{% block body %}
{% from "includes/_formhelper.html" import render_field %}

<section class="container mt-2">
<!--Breadcrumb-->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/expenditure_Dash/{{ bank }}/{{ month }}">Dashboard {{ bank }}</a></li>
        <li class="breadcrumb-item active">Budget</li>
      </ol>
    </nav>
<!-- Button trigger modal -->
    <section class="d-flex justify-content-between">
        <button type="button" class="btn btn-primary justify-content-start" data-toggle="modal" data-target="#budgetModal">
          Set budget
        </button>
<!--Dropdown for months-->
        <section class="">
{#        <div class="btn-group mt-2 ml-3">#}
{#          <button type="button" class="btn btn-info dropdown-toggle justify-content-end" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#            Jan#}
{#          </button>#}
{#          <div class="dropdown-menu dropdown-menu-right">#}
{#          {% for month in months %}#}
{#            <a class="dropdown-item" href="#">{{ month }}</a>#}
{#          {% endfor %}#}
{#          </div>#}
{#        </div>#}
        </section>
    </section>
<!-- Modal -->
    <div class="modal fade" id="budgetModal" tabindex="-1" role="dialog" aria-labelledby="budgetModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="budgetlimit">Budget Limit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
          <div class="modal-body">
            <form method="POST">
            <div class="form-group">
                <label for="amount">How much is your budget limit for this month?</label>
                <br>
                <div class="dropdown">
                    {{  render_field(form.categories_code, class_="form-control") }}<br>
                </div>
                    <div class="input-group-prepend">
                      <div class="input-group-text">$</div>

                    {{  render_field(form.budget, class_="form-control", placeholder="Amount") }}
                    </div>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-primary" value="Submit">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </form>
          </div>

    </div>
  </div>
</div>
<!--End of modal-->
<!--Gauge Chart-->
        <div class="d-flex">
            <div class="container mt-5" align="center">
                <embed class="embed-responsive item" type="image/svg+xml" src={{gau|safe}} style='max-width:700px'/>
            </div>
        </div>

</section>
{% endblock %}
