{% extends 'layout.html' %}
{% block body %}
{% from "includes/_formhelper.html" import render_field %}
<div class="d-flex">
    {% if list | length != 0 %}
        <div class="col-12 d-inline-flex align-items-center">
          <div id="insurLabel" class="pl-2 pb-2 font-weight-bold d-flex ">All GIRO Owned or</div>
          <form action="" class="p-2 d-flex" method="POST">
              {{ render_field(filterForm.insurance_type, class_="form-control mt-1") }}
              <input type="submit" class="ml-4 mt-1 mb-2 btn btn-secondary d-flex" value="Submit">
          </form>
          <div class="ml-auto mr-5">
            <button type="button" class="btn btn-danger pt-1 pb-1 pr-2 pl-2" id="dropdownMenuButton" data-toggle="modal" data-target="#terminateGiro" aria-haspopup="true" aria-expanded="false">Remove</button>
          </div>
        </div>
    {% else %}
    <div class="col-12">
        <p class="text-secondary">Click <a href="/giro" id="giroForm" class="font-weight-bold">here</a> to apply for a GIRO Form!</p>
        <div class="col-3 mt-5 mb-5 bg-light p-5 d-flex justify-content-center m-auto">
            <p class="font-weight-bold text-secondary">You have no GIRO owned!</p>
        </div>
    </div>
    {% endif %}
</div>
<div class="container mt-4">
    <div class="row mx-2 justify-content-center">
        {% for giro in list %}
            <div class="col-3 bg-light mr-4 ml-4 mb-4">
                <br>
                <div class="d-flex">
                    <p><span class="font-weight-bold mr-4">{{ giro.get_giroName() }}</span></p>
                </div>
                <p>Policy type: <span class="font-weight-bold">{{ giro.get_giroType() }}</span></p>
                <p>Monthly payable: <span class="font-weight-bold text-danger">{{ "$%.2f"| format(giro.get_giroAmt()) }}</span></p>
                <br>
            </div>
        {% endfor %}
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="terminateGiro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Terminate GIRO Form</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <form class="container justify-content-md-center" method="POST">
        <p>Policy Name:
          {{ render_field(deleteForm.insuranceName, class_="form-control mt-1") }}
        </p>
        <input type="submit" class="ml-4 mt-1 mb-2 btn btn-secondary d-flex ml-auto" value="Submit">
      </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}