{% extends 'layout.html' %}
{% block body %}
{% from "includes/_formhelper.html" import render_field %}
<section class="container border border-secondary rounded mt-5 mb-5">
    <form class="container mt-3" method="POST">
        <p class="font-weight-bold"> GIRO Form Application</p>
        <div class="form-group">
            <div class="form-group">
                {{ render_field(form.bank, class_="form-control", placeholder="Bank") }}
            </div>
            <div class="form-group">
                {{ render_field(form.accNum, class_="form-control") }}
            </div>
            <div id="giroName">
                <div class="form-group">
                    {{ render_field(form.insuranceName, class_="form-control", placeholder="Insurance Name") }}
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <input type="submit" value="Submit" class="btn btn-secondary mt-1 mb-1">
            </div>
        </div>
    </form>
</section>
{% endblock %}