{% extends 'layout.html' %}
{% block body %}
<!--Top block-->
<div id="insurBlock" class="d-flex bg-light">
      <div class="col-6 d-flex">
          <div id="insurLabel" class="p-2 font-weight-bold">Insurance Summary</div>
      </div>
      <div class="col-6 my-auto">
        <a href="/insuranceAcc">
            <button type="button" class="btn btn-primary btn-sm mb-1 float-right">Back to Account</button>
        </a>
      </div>
</div>


<!--{% for account in list %}-->
<!--<p>Policy Number: <span class="font-weight-bold">{{ account.get_policyNumber() }}</span></p>-->
<!--<p>Policy Type: <span class="font-weight-bold">{{ account.get_policyType() }}</span></p>-->
<!--<p>Amount insured: <span class="font-weight-bold">${{ account.get_amountInsured() }}</span><p>-->
<!--<p>Payment Period: <span class="font-weight-bold">{{ account.get_paymentPeriod() }} months</span></p>-->
<!--<p>Monthly Pament: <span class="font-weight-bold">${{ account.get_monthlyPayment() }}</span></p>-->
<!--<br>-->
<!--{% endfor %}-->
<!-- Tabs -->
<div id="insurTable1">
    <nav>
        <div class="nav nav-tabs d-flex text-center" id="nav-tab" role="tablist">
            <a class="col-6 nav-item nav-link active" id="nav-monthlyPayable-tab" data-toggle="tab" href="#nav-monthlyPayable" role="tab" aria-controls="nav-monthlyPayable" aria-selected="false">Monthly Payable</a>
            <a class="col-6 nav-item nav-link" id="nav-amountInsured-tab" data-toggle="tab" href="#nav-amountInsured" role="tab" aria-controls="nav-amountInsured" aria-selected="false">Amount Insured</a>
            <!--<a class="col-4 nav-item nav-link" id="nav-individualTypes-tab" data-toggle="tab" href="#nav-individualTypes" role="tab" aria-controls="nav-individualTypes" aria-selected="false">Breakdown of Types</a>-->
        </div>
    </nav>

    <!-- Details-->
    <!--<div id="insurTable1">-->
    <!--<p>Number of policies owned: <span class="font-weight-bold">5</span></p>-->
    <!--<p>Total amount insured: <span class="font-weight-bold">$</span></p>-->
    <!--<p>Amount payable (January 2019): <span class="font-weight-bold">$</span></p>-->
    <!--<p><span class="font-weight-bold"></span></p>-->
    <!--</div>-->

    <!--Nav bar-->
    <div class="tab-content" id="nav-tabContent">
        <!-- Amount Insured tab-->
        <div class="tab-pane fade" id="nav-amountInsured" role="tabpanel" aria-labelledby="nav-amountInsured-tab">
            <div class="container" align="center">
                <br>
                    <embed type="image/svg+xml" src={{bar|safe}} style='max-width:650px'/>
            </div>
        </div>

       <!--Monthly Payable tab-->
        <div class="tab-pane fade show active" id="nav-monthlyPayable" role="tabpanel" aria-labelledby="nav-monthlyPayable-tab">
            <div class="container" align="center">
                <br>
                    <embed type="image/svg+xml" src={{pie|safe}} style='max-width:750px'/>
                </div>
            </div>
        </div>

        <!--Individual tab-->
        <div class="tab-pane fade" id="nav-individualTypes" role="tabpanel" aria-labelledby="nav-individualTypes-tab">
            <div class="container" align="center">
                {% for insurance in list %}
                <p> {{insurance.get_policyName()}}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}