{% extends 'layout.html' %}
{% block body %}
{% from "includes/_formhelper.html" import render_field %}

<div id="insurBlock" class="d-flex bg-light">
      <div class="col-6 d-flex">
          <div id="insurLabel" class="p-2 font-weight-bold">Add new Insurance Policy</div>
      </div>
      <div class="col-6 my-auto">
            <a href="/insuranceAcc">
                <button type="button" class="btn btn-primary btn-sm mb-1 float-right">Back to Account</button>
            </a>
      </div>
</div>

<script>
    $(document).ready(function()
    {
        $('#excess').css("display", "none");
        $('#policyType').change(function()
        {
            if($('#policyType').val() == 'Car')
            {
                $('#excess').css("display", "block");
                 $('#amountInsured').css("display", "none");

            }
            else
            {
                $('#excess').css("display", "none");
                $('#amountInsured').css("display", "block");
            }
        });
    });

</script>

<div id="insurBlock" class="d-flex bg-light">
  <form method="POST" action="">

    <div class="form-group">
        {{ render_field(form.insuranceCompany, class_="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.policyName, class_="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.policyNum, class_="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.policyType, class_="form-control") }}
    </div>
      <div id="excess">
        <div class="form-group">
            {{ render_field(form.excess, class_="form-control", min="0") }}
        </div>
    </div>
    <div class="form-group">
        {{ render_field(form.peopleInsured, class_="form-control") }}
    </div>
      <div id="amountInsured">
        <div class="form-group">
            {{ render_field(form.amountInsured, class_="form-control", type="number", min="0") }}
        </div>
      </div>
    <div class="form-group">
        {{ render_field(form.monthlyPayment, class_="form-control", type="number", min="0") }}
    </div>
      <div class="d-flex">
          <div class="form-group">
              {{ render_field(form.startDate, class_="form-control") }}
          </div>
          <div class="form-group">
              {{ render_field(form.paymentPeriod, class_="form-control") }}
          </div>
      </div>
      <button type="submit" class="ml-4 mt-2 mb-2 btn-sm btn-secondary d-flex" value="Submit" name="Submit">Submit</button>
  </form>
</div>
{% endblock %}