{% extends 'layout.html' %}
{% block body %}
{% from "includes/_formhelper.html" import render_field %}
<title>Insurance</title>
  <!---Top block-->
  <div id="insurBlock" class="d-flex bg-light">
      <div class="col-6 d-inline-flex align-items-center">
          <div id="insurLabel" class="p-2 font-weight-bold d-flex ">All Insurance Policies Owned or</div>
          <!-- Selection drop-down -->
          <form action="" class="p-2 d-flex" method="POST">
              {{ render_field(form.insurance_type, class_="form-control mt-1") }}
              <input type="submit" class="ml-4 mt-2 mb-2 btn-sm btn-secondary d-flex" value="Submit">
          </form>
      </div>
      <div class="col-6 my-auto">
        <a href="/insuranceAccDetails">
            <button type="button" class="btn btn-primary btn-sm mb-1 float-right">Insurance Summary</button>
        </a>
      </div>
  </div>
  <!--Container for tiles -->
<div id="insurTable" class="mt-2">
    <div class="row mx-2">
        {% if list | length != 0 %}
            {% for insurance in list %}
                {% if insurance.get_policyType() != "Car" %}
                    <div class="col-3 bg-light">
                        <br>
                        <p><span class="font-weight-bold">{{ insurance.get_policyName() }}</span></p>
                        <p>Policy type: <span class="font-weight-bold">{{ insurance.get_policyType() }}</span></p>
                        <p>Amount insured: $<span class="font-weight-bold">{{ insurance.get_amountInsured() }}</span></p>
                        <!-- Modal -->
                        <div class="container d-flex justify-content-center mb-2 pt-4">
                            <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#insuranceModal{{insurance.get_productNum()}}">Details</button>
                            <div class="modal fade" id="insuranceModal{{insurance.get_productNum()}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel1">{{insurance.get_policyName()}}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Product Number: <span class="font-weight-bold">{{ insurance.get_productNum()}} </span></p>
                                            <br>
                                            <p>Policy type: <span class="font-weight-bold">{{ insurance.get_policyType() }}</span></p>
                                            <p>Policy number: <span class="font-weight-bold">{{ insurance.get_policyNumber() }}</span></p>
                                            <br>
                                            <p>Party insured: <span class="font-weight-bold">{{ insurance.get_peopleInsured() }}</span></p>
                                            <p>Monthly payable: $<span class="font-weight-bold">{{ insurance.get_monthlyPayment() }}</span></p>
                                            <p>Insured amount: $<span class="font-weight-bold">{{ insurance.get_amountInsured() }}</span></p>
                                            <p>Premium period: <span class="font-weight-bold">{{ insurance.get_paymentPeriod() }} years</span></p>
                                            <p>Start date: <span class="font-weight-bold"> {{ insurance.get_startDate() }} </span></p>
                                            <p>End date: <span class="font-weight-bold"> {{ insurance.get_endDate() }} </span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-3 bg-light">
                        <br>
                        <p><span class="font-weight-bold">{{ insurance.get_policyName() }}</span></p>
                        <p>Policy type: <span class="font-weight-bold">{{ insurance.get_policyType() }}</span></p>
                        <p id='amountInsured'>Excess amount: $<span class="font-weight-bold">{{ insurance.get_excess() }}</span></p>
                        <!-- Modal -->
                        <div class="container d-flex justify-content-center mb-2 pt-4">
                            <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#insuranceModal{{insurance.get_productNum()}}">Details</button>
                            <div class="modal fade" id="insuranceModal{{insurance.get_productNum()}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel1">{{insurance.get_policyName()}}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Product Number: <span class="font-weight-bold">{{ insurance.get_productNum()}} </span></p>
                                            <br>
                                            <p>Policy type: <span class="font-weight-bold">{{ insurance.get_policyType() }}</span></p>
                                            <p>Policy number: <span class="font-weight-bold">{{ insurance.get_policyNumber() }}</span></p>
                                            <br>
                                            <p>Party insured: <span class="font-weight-bold">{{ insurance.get_peopleInsured() }}</span></p>
                                            <p>Monthly payable: $<span class="font-weight-bold">{{ insurance.get_monthlyPayment() }}</span></p>
                                            <p>Excess: $<span class="font-weight-bold">{{ insurance.get_excess() }}</span></p>
                                            <p>Insured period: <span class="font-weight-bold"> {{ insurance.get_paymentPeriod() }} years</span></p>
                                            <p>Start date: <span class="font-weight-bold"> {{ insurance.get_startDate() }} </span></p>
                                            <p>End date: <span class="font-weight-bold"> {{ insurance.get_endDate() }} </span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
            <span class="p-5 ml-5">
                <a href="/insuranceForm">
                    <i class="fas fa-plus-circle fa-7x"></i>
                </a>
            </span>
    </div>
</div>
{% endblock %}