{% extends 'layout.html' %}
{% block body %}
{% from "includes/_formhelper.html" import render_field %}

<!-- Insurance Suggestion -->
{% if session['UserID'] != null %}
<div id="insuranceUserNeeds" class="container-fluid bg-light mt-5">
    <div class="d-flex justify-content-between">
        <p class="text-secondary"> You might be interested in a few <span class="text-dark font-weight-bold">
            {% for product in productTypes %}
                {{ product }}
            {% endfor %}
            {% if productTypes == [] %}
                Promotion
            {% endif %}
            Insurance</span>: </p>
        <a href="/insuranceAcc" class="text-info"> View owned policy</a>
    </div>
    <div class="container d-flex mt-3 justify-content-around">
        {% for suggest in suggestList %}
        <div class="col-3 bg-white mb-4 mr-2 shadow rounded">
            <a href="{{ suggest.get_link() }}" target="_blank">
            <p class="font-weight-bold">{{ suggest.get_name() }}</p>
            <p>Type: <span class="font-weight-bold">{{ suggest.get_type() }}</span></p>
            <p class="text-secondary"> {{ suggest.get_description() }}</p>
            </a>
            <!-- Modal -->
            <div class="container d-flex justify-content-center mb-2">
                <button type="button" class="btn btn-light btn-sm bg-success text-white" data-toggle="modal" data-target="#insuranceModal{{ suggest.get_productNum() }}">Promotions</button>
                <div class="modal fade" id="insuranceModal{{ suggest.get_productNum() }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel1">{{ suggest.get_name() }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <p class="font-weight-bold"><u>Promotion</u></p>
                            {% if suggest.get_promotion() == "" %}
                                <p class="text-primary">No on-going promotion at the moment. </p>
                            {% else %}
                                <p class="text-primary">{{ suggest.get_promotion() }}</p>
                            <div class="d-flex flex-row-reverse">
                                <a href="{{ suggest.get_promotionLink() }}" target="_blank">
                                    <p>Learn more <span> > </span></p>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
<!-- Search Box -->
<div id="insuranceSearchBox" class="container justify-content-center border mt-5 mb-0 shadow rounded w-50 align-items-center">
    <form action="" class="d-flex ml-4" method="POST">
        <span class="container col-2 text-center px-0 ml-3 mb-0 mt-4">I am looking for</span>
        <span class="container px-0">
            <div class="mb-4 container-fluid px-0 mx-3">
                {{ render_field(form.insurance_type, class_="form-control") }}
            </div>
        </span>
        <span class="container mt-4 text-center px-0">from </span>
        <span class="container col-3 text-center px-0">
            {{ render_field(form.insurance_company, class_="form-control") }}
        </span>
        <input type="submit" class="my-4 mx-5 btn btn-secondary" value="Submit">
    </form>
</div>
    <!-- Reset button -->
<div class="container d-flex flex-row-reverse">
    <form action="/insuranceMain" method="post">
        <button class="btn btn-light mt-2" type="submit"> Reset </button>
    </form>
</div>
<div id="insuranceSquares" class="card container bg-light mt-4 pl-0 pr-0 mw-100">
    <section class="d-flex container">
        <div class="row justify-content-center pl-0 pr-0">
        {% for product in list %}
            {% if list|length >1 %}
                <div class="col-3 ml-4 mr-4 mt-3 mb-2 bg-white shadow rounded">
                    <a href="{{ product.get_link() }}" target="_blank">
                    <p class="font-weight-bold">{{ product.get_name() }}</p>
                    <p>Type: <span class="font-weight-bold">{{ product.get_type() }}</span></p>
                    <p class="text-secondary"> {{ product.get_description() }}</p>
                    </a>
                    <!-- Modal -->
                    <div class="container d-flex justify-content-center mb-2">
                        <button type="button" class="btn btn-light btn-sm bg-success text-white" data-toggle="modal" data-target="#insuranceModal{{ product.get_productNum() }}">Promotions</button>
                        <div class="modal fade" id="insuranceModal{{ product.get_productNum() }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel1">{{ product.get_name() }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                    <p class="font-weight-bold"><u>Promotion</u></p>
                                    {% if product.get_promotion() == "" %}
                                        <p class="text-primary">No on-going promotion at the moment. </p>
                                    {% else %}
                                        <p class="text-primary">{{ product.get_promotion() }}</p>
                                    <div class="d-flex flex-row-reverse">
                                        <a href="{{ product.get_promotionLink() }}" target="_blank">
                                            <p>Learn more <span> > </span></p>
                                        </a>
                                    </div>
                                    {% endif %}

                                </div>
                            </div>
                            </div>
                            </div>
                    </div>
                </div>
            {% elif list|length == 1 %}
                <div class="col-5 border mt-2 mb-2 bg-white shadow rounded ml-2">
                    <a href="{{ product.get_link() }}" target="_blank">
                    <p class="font-weight-bold">{{ product.get_name() }}</p>
                    <p>Type: <span class="font-weight-bold">{{ product.get_type() }}</span></p>
                    <p class="text-secondary"> {{ product.get_description() }}</p>
                    </a>
                    <!-- Modal -->
                    <div class="container d-flex justify-content-center mb-2">
                        <button type="button" class="btn btn-light btn-sm bg-success text-white" data-toggle="modal" data-target="#insuranceModal{{ product.get_productNum() }}">Promotions</button>
                        <div class="modal fade" id="insuranceModal{{ product.get_productNum() }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel1">{{ product.get_name() }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                    <p class="font-weight-bold"><u>Promotion</u></p>
                                    {% if product.get_promotion() == "" %}
                                        <p class="text-primary">No on-going promotion at the moment. </p>
                                    {% else %}
                                        <p class="text-primary">{{ product.get_promotion() }}</p>
                                    <div class="d-flex flex-row-reverse">
                                        <a href="{{ product.get_promotionLink() }}" target="_blank">
                                            <p>Learn more <span> > </span></p>
                                        </a>
                                    </div>
                                    {% endif %}

                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        </div>
    </section>
</div>
{% endblock %}
