{% extends 'layout.html' %}
{% block body %}
{% from "includes/_formhelper.html" import render_field %}

<section class="container mb-3">
   <form method='POST' action="" class="shadow-lg p-3 mb-5 bg-white border border-secondary rounded w-75 mx-auto my-auto">
    <div id="head">
        <h2>Personalised Investment</h2>
    </div>
    <h3>What's your purpose for investing?</h3>
    <hr class="bg-secondary">
       <section class="d-flex">
            <div class="col-6">
                <div class="d-block">
                        {% for subfield in form.Purpose %}
                            <div class="d-flex">
                                <span class="">{{ subfield }}</span>
                                <div class="ml-3">
                                    <h5 class="">{{ subfield.label }}</h5>
                                </div>
                            </div>
                        {% endfor %}
                </div>

            </div>
           <div class="col-6 embed-responsive embed-responsive">
               <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/covxjhXsCi8" id="vid"></iframe>
           </div>
       </section>
       <hr class="bg-secondary">
       <h3>What's your risk preference?</h3>
       <div class="d-flex mx-auto my-auto">
       {% for subfield in form.Risk %}
           <div class="d-block col-2 mx-auto my-auto">
               <div class="text-center">{{ subfield }}</div>
               <div>
                <h4 class="text-center">{{ subfield.label }}</h4>
               </div>
           </div>
       {% endfor %}
       </div>
{#       <div class="d-flex justify-content-center text-center mt-4" id="form">#}
{#           <div class="col-2">#}
{#               <div class="mb-3">#}
{#                <input type="radio" name="preference" value="Protective" required>#}
{#               </div>#}
{#               <h4 class="">Protective</h4>#}
{#           </div>#}
{#           <div class="col-2">#}
{#               <div class="mb-3">#}
{#                <input type="radio" name="preference" value="Stable">#}
{#               </div>#}
{#               <h4>Stable</h4>#}
{#           </div>#}
{#           <div class="col-2">#}
{#               <div class="mb-3">#}
{#                <input type="radio" name="preference" value="Balanced">#}
{#               </div>#}
{#               <h4>Balanced</h4>#}
{#           </div>#}
{#           <div class="col-2">#}
{#               <div class="mb-3">#}
{#                <input type="radio" name="preference" value="Growth">#}
{#               </div>#}
{#               <h4>Growth</h4>#}
{#           </div>#}
{#           <div class="col-2">#}
{#               <div class="mb-3">#}
{#                <input type="radio" name="preference" value="Aggressive">#}
{#               </div>#}
{#               <h4>Aggressive</h4><br>#}
{#           </div>#}
{#       </div>#}
       <hr class="bg-secondary">
       <h3 class = "mb-3">Financial Knowledge Assessment</h3>

{#       <div class="d-block"id="financequestion">#}
{#            <div class="d-flex" id="qn">#}
{#                <div class="col-9">#}
{#                 <p class="font-weight-bold">Do you hold a degree in business or finance?</p>#}
{#                </div>#}
{#                <div class="col-3">#}
{#                 <input type="radio" name="qn1" value="Yes" id="1yes" required> Yes#}
{#                 <input type="radio" class="ml-5" name="qn1" value="No" id="1no"> No#}
{#                </div>#}
{#            </div>#}
{#            <div class="d-flex mt-1" id="qn">#}
{#                <div class="col-9">#}
{#                 <p class="font-weight-bold">Do you have any experience working in the finance sector?</p>#}
{#                </div>#}
{#                <div class="float-right col-3">#}
{#                 <input type="radio" name="qn2" value="Yes" id="2yes" required> Yes#}
{#                 <input type="radio" class="ml-5" name="qn2" value="No" id="2no"> No#}
{#                </div>#}
{#            </div>#}
{#            <div class="d-flex mt-1" id="qn">#}
{#                <div class="col-9">#}
{#                 <p class="font-weight-bold">Have you ever invested before?</p>#}
{#                </div>#}
{#                <div class="float-right col-3">#}
{#                 <input type="radio" name="q3" value="Yes" id="3yes" required> Yes#}
{#                 <input type="radio" class="ml-5" name="q3" value="No" id="3no"> No#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
        <div class="d-flex">
           <div class="col-9">
             <h5 class="font-weight-bold">Do you hold a degree in business or finance?</h5>
           </div>
           {% for subfield in form.Assessment1 %}
               <div class="float-right col-1">
                  <span class="">{{ subfield }}&nbsp</span>
                  <span class="font-weight-bold">{{ subfield.label }}</span>
               </div>
           {% endfor %}
        </div>
        <div class="d-flex mt-1">
           <div class="col-9">
             <h5 class="font-weight-bold">Do you have any experience working in the finance sector?</h5>
           </div>
           {% for subfield in form.Assessment2 %}
               <div class="float-right col-1">
                  <span class="">{{ subfield }}&nbsp</span>
                  <span class="font-weight-bold">{{ subfield.label }}</span>
               </div>
           {% endfor %}
        </div>
        <div class="d-flex mt-1">
           <div class="col-9">
             <h5 class="font-weight-bold">Have you ever invested before?</h5>
           </div>
           {% for subfield in form.Assessment3 %}
               <div class="float-right col-1">
                  <span class="">{{ subfield }}&nbsp</span>
                  <span class="font-weight-bold">{{ subfield.label }}</span>
               </div>
           {% endfor %}
        </div>
        <div class="text-center mt-3 mb-3">
            <input type="submit" value="Submit" class="btn btn-outline-success" name="submit">
        </div>
    </form>
</section>
{% endblock %}