{% extends 'layout.html' %}
{% block body %}
{% from "includes/_formhelper.html" import render_field %}
<section class="container mb-2">
    <h2 class="font-weight-normal">NASDAQ Companies</h2>
    <form method='POST' action="" class="bg-white d-flex justify-content-end mb-3">
        <div class="col-6 justify-content-end row">
            <div class="w-50 mr-1">
            {{ render_field(form.Symbol, class_="form-control shadow-sm rounded", placeholder="Enter symbol e.g Apple, AAPL" ) }}
            </div>
            <div class="mt-auto">
                <input type="submit" value="Search" class="btn btn-outline-success" name="submit">
            </div>
        </div>
    </form>
    <table class="table mx-auto my-auto">
        <thead>
            <tr>
                <th scope="col" class="text-center border border-light">Name</th>
                <th scope="col" class="text-center border border-light">Symbol</th>
                <th scope="col" class="text-center border border-light">Bid&nbsp-&nbspPrice</th>
                <th scope="col" class="text-center border border-light">Ask&nbsp-&nbspPrice</th>
                <th scope="col" class="text-center border border-light">Open</th>
                <th scope="col" class="text-center border border-light">High</th>
                <th scope="col" class="text-center border border-light">Low</th>
                <th scope="col" class="text-center border border-light">Close</th>
                <th scope="col" class="text-center border border-light">Change</th>
                <th scope="col" class="text-center border border-light">Change(%)</th>
                <th scope="col" class="text-center border border-light">Sector</th>
                <th scope="col" class="text-center border border-light"></th>
            <tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
            <td class="border border-light">{{ stock.get_name() }}</td>
            <td class="border border-light">{{ stock.get_symbol() }}</td>
            <td class="border border-light">${{ stock.get_bidprice() }}</td>
            <td class="border border-light">${{ stock.get_askprice() }}</td>
            <td class="border border-light">${{ stock.get_open() }}</td>
            <td class="border border-light">${{ stock.get_high() }}</td>
            <td class="border border-light">${{ stock.get_low() }}</td>
            <td class="border border-light">${{ stock.get_close() }}</td>
            <td class="border border-light">{{ stock.get_change() }}</td>
            <td class="border border-light">{{ stock.get_changePercent() }}</td>
            <td class="border border-light">{{ stock.get_sector() }}</td>
            <td class="text-center border border-light">
                <a href = "/buyorder/{{ stock.get_name() }}/{{ stock.get_symbol() }}/{{ stock.get_bidprice() }}" class = "btn btn-outline-success">Buy</a>
            </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}

{#        <select id="sectorInput" class="form-control w-25" placeholder="Sort by sectors">#}
{#            <option>All</option>#}
{#            <option>Basic Industries</option>#}
{#            <option>Capital Goods</option>#}
{#            <option>Consumer Durables</option>#}
{#            <option>Consumer Non-Durables</option>#}
{#            <option>Consumer Services</option>#}
{#            <option>Energy</option>#}
{#            <option>Finance</option>#}
{#            <option>Health Care</option>#}
{#            <option>Miscellaneous</option>#}
{#            <option>n/a</option>#}
{#            <option>Public Utilities</option>#}
{#            <option>Technology</option>#}
{#            <option>Transportation</option>#}
{#        </select>#}