{% extends 'layout.html' %}
{% block body %}
<section class="container mb-1">
    <h3 class="font-weight-normal">Account: {{ name }}</h3>
    <h3 class="font-weight-normal">Recommendations</h3>
    <table class="table mx-auto my-auto">
        <thead>
            <tr>
                <th scope="col" class="text-center border border-light">Name</th>
                <th scope="col" class="text-center border border-light">Symbol</th>
                <th scope="col" class="text-center border border-light">Bid-Price</th>
                <th scope="col" class="text-center border border-light">Ask-Price</th>
                <th scope="col" class="text-center border border-light">Change</th>
                <th scope="col" class="text-center border border-light">Change(%)</th>
                <th scope="col" class="text-center border border-light">Sector</th>
                <th class="text-center border border-light"></th>
            <tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
            <td class="border border-light">{{ stock.get_name() }}</td>
            <td class="border border-light">{{ stock.get_symbol() }}</td>
            <td class="border border-light">${{ stock.get_bidprice() }}</td>
            <td class="border border-light">${{ stock.get_askprice() }}</td>
            <td class="border border-light">{{ stock.get_change() }}</td>
            <td class="border border-light">{{ stock.get_changePercent() }}</td>
            <td class="border border-light">{{ stock.get_sector() }}</td>
            <td class="text-center border border-light">
                <a href = "/buyorder/{{ stock.get_name() }}/{{ stock.get_symbol() }}/{{ stock.get_bidprice() }}" class = "btn btn-outline-success">Buy</a>
            </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>Wish to retake your survey? Click here!</p>
    <a href = "/form/{{ userID }}" class = "btn btn-outline-success">Retake</a>
</section>
{% endblock %}
