{% extends 'layout.html' %}
{% block body %}
<section class="container mb-3 shadow-sm">
    <h3 class="font-weight-normal"> Account: {{ name }}</h3>
    <h3 class="font-weight-normal">Transactions</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" class="text-center border border-light">Date</th>
                <th scope="col" class="text-center border border-light">Reference</th>
                <th scope="col" class="text-center border border-light">Customer Price</th>
                <th scope="col" class="text-center border border-light">Final Price</th>
                <th scope="col" class="text-center border border-light">Lot Size</th>
                <th scope="col" class="text-center border border-light">Total</th>
                <th scope="col" class="text-center border border-light">Debit (Purchase)</th>
                <th scope="col" class="text-center border border-light">Credit (Sale)</th>
                <th scope="col" class="text-center border border-light">Remarks</th>
                <th scope="col" class="text-center border border-light">Expiring in</th>
            <tr>
        </thead>
        <tbody>
            {% for order in thistory %}
            <tr>
            <td class="border border-light">{{ order.get_date() }}</td>
            <td class="border border-light">{{ order.get_number() }}</td>
            <td class="border border-light">{{ order.get_cprice() }}</td>
            <td class="border border-light">{{ order.get_saleprice() }}</td>
            <td class="border border-light">{{ order.get_quantity() }}</td>
            <td class="border border-light">{{ order.float_total() }}</td>
            <td class="border border-light">{{ order.get_bprice() }}</td>
            <td class="border border-light">{{ order.get_sprice() }}</td>
            <td class="border border-light">{{ order.get_status() }}</td>
            <td class="border border-light">{{ order.get_expiry() }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}