{% extends 'layout.html' %}
{% block body %}
<section class="container">
    <h3 class="font-weight-normal">Account: {{ name }}</h3>
    <h3 class="font-weight-normal">Stock Portfolio</h3>
    <table class="table table-striped mx-auto my-auto">
        <thead>
            <tr>
                <th scope="col" class="text-center border border-light">Name</th>
                <th scope="col" class="text-center border border-light">Symbol</th>
                <th scope="col" class="text-center border border-light">Bid-Price</th>
                <th scope="col" class="text-center border border-light">Ask-Price</th>
                <th scope="col" class="text-center border border-light">Change</th>
                <th scope="col" class="text-center border border-light">Sector</th>
                <th scope="col" class="text-center border border-light">Lots (100&nbspshares)</th>
                <th scope="col" class="text-center border border-light">Average Bought&nbspPrice</th>
                <th scope="col" class="text-center border border-light">Total&nbspPrice</th>
                <th scope="col" class="text-center border border-light">Current Valuation</th>
                <th scope="col" class="text-center border border-light"></th>
            <tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
            <td class="border border-light">{{ stock.get_name() }}</td>
            <td class="border border-light">{{ stock.get_symbol() }}</td>
            <td class="border border-light">${{ stock.get_bidprice() }}</td>
            <td class="border border-light">${{ stock.get_askprice() }}</td>
            <td class="border border-light">{{ stock.get_change() }}</td>
            <td class="border border-light">{{ stock.get_sector() }}</td>
            <td class="border border-light">{{ stock.get_lot() }}</td>
            <td class="border border-light">${{ stock.get_bprice() }}</td>
            <td class="border border-light">${{ stock.get_total() }}</td>
            <td class="border border-light">${{ stock.get_value() }}</td>
            <td class="border border-light text-center">
                <a href = "/buyorder/{{ stock.get_name() }}/{{ stock.get_symbol() }}/{{ stock.get_bidprice() }}" class = "btn btn-outline-success">Buy</a>
                <a href = "/sellorder/{{ stock.get_name() }}/{{ stock.get_symbol() }}/{{ stock.get_askprice() }}/{{ counter }}" class = "btn btn-outline-danger mt-1">Sell</a>
            </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}