{% extends 'layout.html' %}
{% block body %}
{% from "includes/_formhelper.html" import render_field %}

<section class="container mt-5 mb-5">
    <form method='POST' action="" class="shadow-lg p-3 mb-5 bg-white border border-secondary rounded w-75 mx-auto my-auto">
       <h3>Buy Order</h3>
       <h5>{{ id }}, {{ sym }}</h5>
       <h5>Bid-Price: ${{ price }}</h5>
       <section class="d-flex">
            <div class="col-6">
                <div class="d-block">
                    <div class="form-group">
                     {{ render_field(form.LotSize, class_="form-control", type = "number", placeholder="Lot Size", min=1, max=30) }}
                    </div>
                    <div class="form-group">
                     {{ render_field(form.CPrice, class_="form-control", placeholder="Your Price") }}
                    </div>
                    <div class="form-group">
                     {{ render_field(form.Symbol, class_="form-control", placeholder="Enter Stock Symbol to confirm") }}
                    </div>
                </div>
            </div>
            <div class="col-6 text-secondary">
                <p class="font-weight-bold">Do take note:</p>
                <ol>
                    <li>Prices that you enter qualifies as bids but does&nbspnot guarantee a successful order. (Enter&nbspprices that are close to prices stated for&nbsphigher&nbspchances of success.)</li>
                    <li>Only up to 30 lots of 100 stocks can be purchased at a time.</li>
                    <li>All orders will be listed for 24 hours before expiring.</li>
                </ol>
            </div>
       </section>
       <div class="text-center mt-4 mb-4">
           <input type="submit" value="Confirm" class="btn btn-outline-success" name="submit">
       </div>
    </form>
</section>
{% endblock %}
{#<a href="javascript: history.go(-1)"><button class="btn btn-outline-danger">Back</button></a>#}