{% extends 'layout.html' %}
{% block body %}
{% from "includes/_formhelper.html" import render_field %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
        {% if session.get('UserID') == None %}
           <li>{{ message }}</li>
        {% endif %}
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    <form class="container justify-content-md-center" method="POST" action="">
        <div class="form-group">
            {{ render_field(form.loginUsername, class_="form-control", placeholder="NRIC") }}
            <small id="emailHelp" class="form-text text-muted">We'll never share your phone number/NRIC with anyone else.</small>
        </div>
        <div class="form-group">
            {{ render_field(form.loginPassword, class_="form-control", placeholder="Password") }}
        </div>
       <!--<div class="form-check">-->
           <!--<input type="checkbox" class="form-check-input" id="exampleCheck1">-->
           <!--<label class="form-check-label" for="exampleCheck1">Check me out</label>-->
        <!--</div>-->
        <input type="submit" class="btn btn-primary" value="Login">
    </form>
{% endblock %}
