{% extends 'layout.html' %}
{% block body %}
<section id="sectiondiv">
    <div id="maindiv" class="d-flex justify-content-end">
        <div class="col-6"></div>
        <div id="taglinediv" class="col-12 col-md-6 my-auto">
            <h1>To reinvent the way i-banking function, through innovative and convenient services</h1>
        </div>
    </div>
</section>
<section id="bankdiv bg-white">
    <p class="text-center mt-2">Participating Banks</p>
    <div class="mx-auto">
        <hr>
    </div>
    <div class="d-flex ">
        <div class="col-4">
            <img src="../static/img/dbs.png " class="img-fluid">
        </div>
        <div class="col-4">
            <img src="../static/img/uob.png" class="img-fluid">
        </div>
        <div class="col-4">
            <img src="../static/img/ocbc.png" class="img-fluid">
        </div>
    </div>
</section>
<section id="carddiv" class="mt-1">
    <nav>
      <div class="nav nav-tabs d-flex text-center" id="nav-tab" role="tablist">
        <a class="col-4 nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-expenditure" role="tab" aria-controls="nav-home" aria-selected="true">Expenditure</a>
        <a class="col-4 nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-investment" role="tab" aria-controls="nav-profile" aria-selected="false">Investment</a>
        <a class="col-4 nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-insurance" role="tab" aria-controls="nav-contact" aria-selected="false">Insurance</a>
      </div>
    </nav>
    <div class="tab-content bg-light" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-expenditure" role="tabpanel" aria-labelledby="nav-expenditure-tab">
        <div class="card bg-dark text-body">
            <img class="card-img" src="../static/img/expenditure_slideshow.jpg" alt="Card image">
            <div class="card-img-overlay text-right d-flex justify-content-end">
                <div class="col-6 my-auto">
                    <h4 class="card-title">Expenditure</h4>
                    <h2 class="card-text">Access your monthly and weekly spendings easily with our detailed expenditure dashboard. Set financial goals, view your savings of different financial goals and visualise your transaction history with graphs.</h2>
                </div>
                <!--<a href="#" class="btn btn-primary">A</a>-->
            </div>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-investment" role="tabpanel" aria-labelledby="nav-investment-tab">
          <div class="card bg-dark text-white">
            <img class="card-img" src="../static/img/investment_slideshow.png" alt="Card image">
            <div class="card-img-overlay text-right d-flex justify-content-end">
                <div class="col-6 my-auto">
                    <h4 class="card-title">Investment</h4>
                    <h2 class="card-text">Browse through the Stock Market and view recommendations based on your interests. Customise and manage portfolio, view your transaction history of purchases and sales and trade stocks with registered users.</h2>
                </div>                <!--<a href="#" class="btn btn-primary">A</a>-->
            </div>
          </div>
      </div>
      <div class="tab-pane fade" id="nav-insurance" role="tabpanel" aria-labelledby="nav-insurance-tab">
          <div class="card bg-dark text-black">
            <img class="card-img" src="../static/img/insurance_slideshow.jpg" alt="Card image">
            <div class="card-img-overlay text-right d-flex justify-content-end">
                <div class="col-6 my-auto">
                    <h4 class="card-title ">Insurance</h4>
                    <h2 class="card-text ">Browse through new insurance policies and view the different promotions. Conveniently view the insurance policies that you own as well as graphs and easily add new insurances to your collection.</h2>
                </div>                <!--<a href="#" class="btn btn-primary">A</a>-->
            </div>
          </div>
      </div>
    </div>
</section>

{% endblock %}
