{% extends 'layout.html' %}
{% block body %}
{% from "includes/_formhelper.html" import render_field %}
<script>
    $(document).ready(function ()
    {
        $('#savers').hide();
        $("#savingType").change(function()
        {
            if ($(this).val() !='Personal')
            {
                $('#savers').show();
            }
            else
            {
                $('#savers').hide();
            }
        });
    });
    $(document).ready(function ()
    {
        $('#savingAmount').hide();
        $('#bankAccounts').hide();
        $("input[name=savingMethod]").change(function ()
        {
            if ($(this).val() =='Auto')
            {
                $('#savingAmount').show();
                $('#bankAccounts').show();
            }
            else
            {
                $('#savingAmount').hide();
                $('#bankAccounts').hide();
            }
        });
    });
</script>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb container">
    <li class="breadcrumb-item"><a href="/expenditure">Expenditure</a></li>
    <li class="breadcrumb-item active" aria-current="page">New Saving</li>
  </ol>
</nav>

<section class="container bg-light my-3 py-2 border border-secondary rounded">
     <form method="POST" action="">
        <div class="form-group">
            {{ render_field(form.savingType, class_="form-control", id="savingType") }}
        </div>
         <div class="form-group">
            {{ render_field(form.savingGoal, class_="form-control", type="number") }}
        </div>
         <p>{{date}}</p>
        <div class="form-group">
            {{ render_field(form.savingDeadline, class_="form-control", type="date", min=date) }}
        </div>
        <div id="savers">
            {{ render_field(form.savingSavers, class_="form-control") }}
        </div>
        <div class="form-group">
            {{ render_field(form.savingMethod, class_="ml-2 list-unstyled", id="savingMeth") }}
        </div>
         <div class="form-group" id="savingAmount">
            {{ render_field(form.savingAmount, class_="form-control", type="number") }}
         </div>
         <div class="form-group" id="bankAccounts">
            {{ render_field(form.bankAccounts, class_="form-control") }}
         </div>
        <div class="form-group">
            {{ render_field(form.savingDescription, class_="form-control") }}
        </div>
         <div class="d-flex justify-content-end">
             {{ form.savingSubmit (class="btn btn-info") }}
         </div>
    </form>
</section>
{% endblock %}