{% extends 'layout.html' %}
{% block body %}
<section class="bg-light mt-3 container border border-secondary">
    <div>
        <form>
            <div class="form-group row">
                <label for="staticType" class="col-sm-2 col-form-label">Type</label>
                <div class="col-10">
                  <input type="text" readonly class="form-control-plaintext" id="staticType" value="Personal">
                </div>
            </div>
            <div class="form-group row">
                <label for="staticDeadline" class="col-sm-2 col-form-label">Deadline</label>
                <div class="col-10">
                  <input type="text" readonly class="form-control-plaintext" id="staticDeadline" value="31/12/18">
                </div>
            </div>
            <div class="form-group row">
                <label for="staticAmount" class="col-sm-2 col-form-label">Saving Amount</label>
                <div class="col-10">
                  <input type="text" readonly class="form-control-plaintext" id="staticAmount" value="$2000">
                </div>
            </div>
            <div class="form-group row">
                <label for="staticDescription" class="col-sm-2 col-form-label">Description</label>
                <div class="col-10">
                  <input type="text" readonly class="form-control-plaintext" id="staticDescription" value="For new phone">
                </div>
            </div>
        </form>
    </div>
</section>
<section class="bg-light mt-3 container">
    <div>
        <form>
            <div class="form-group row">
                <label for="staticType" class="col-sm-2 col-form-label">Type</label>
                <div class="col-10">
                  <input type="text" readonly class="form-control-plaintext" id="staticType" value="Group">
                </div>
            </div>
            <div class="form-group row">
                <label for="staticDeadline" class="col-sm-2 col-form-label">Deadline</label>
                <div class="col-10">
                  <input type="text" readonly class="form-control-plaintext" id="staticDeadline" value="31/12/18">
                </div>
            </div>
            <div class="form-group row">
                <label for="staticAmount" class="col-sm-2 col-form-label">Savings Amount</label>
                <div class="col-10">
                  <input type="text" readonly class="form-control-plaintext" id="staticAmount" value="$2000">
                </div>
            </div>
            <div class="form-group row">
                <label for="staticSavers" class="col-sm-2 col-form-label">Savers</label>
                <div class="col-10">
                  <input type="text" readonly class="form-control-plaintext" id="staticSavers" value="Zheng Jie (81234567)">
                </div>
            </div>
            <div class="form-group row">
                <label for="staticDescription" class="col-sm-2 col-form-label">Savings Goal</label>
                <div class="col-10">
                  <input type="text" readonly class="form-control-plaintext" id="staticDescription" value="Travel to Japan">
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}