{% extends 'layout.html' %}
{% block body %}
{% from "includes/_formhelper.html" import render_field %}

<form class="container" method="POST">
  <div class="form-group">
    <div class="form-group">
      {{ render_field(form.username, class_="form-control", placeholder="NRIC") }}
    </div>
    <div class="form-group">
      {{ render_field(form.password, class_="form-control", placeholder="Password") }}
    </div>
    <div class="form-group">
      {{ render_field(form.confirm, class_="form-control", placeholder="Confirm Password") }}
    </div>
  </div>
    <input type="submit" value="Sign Up" class="btn btn-primary mb-2">
</form>
{% endblock %}
