{% extends 'layout.html' %}
{% block body %}
{% from "includes/_formhelper.html" import render_field %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb container">
    <li class="breadcrumb-item"><a href="/expenditure">Expenditure</a></li>
    <li class="breadcrumb-item active" aria-current="page">Savings</li>
  </ol>
</nav>
<div class="modal fade bd-example-modal-sm" id="AddBal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle1">Saving Cash Out</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        {% if saving.get_deadline() > date %}
            <div class="modal-body">
                Are you sure to Cash Out {{ saving.get_description() }} before {{ saving.get_deadline() }}
            </div>
        {% else %}
            <div class="modal-body">
                Are you sure to Cash Out {{ saving.get_description() }}
            </div>
        {% endif %}
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a href="/deleteSavings/{{ saving.get_savingID() }}"><button type="button" class="btn btn-primary">Confirm</button></a>
      </div>
    </div>
  </div>
</div>
<div class="modal fade bd-example-modal-sm" id="CashOut" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Saving Cash In</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form method="POST" action="">
         <div class="form-group px-2" id="savingAmount">
            {{ render_field(form.savingAmount, class_="form-control", type="number") }}
         </div>
         <div class="form-group px-2" id="bankAccounts">
            {{ render_field(form.bankAccounts, class_="form-control") }}
         </div>
      <div class="modal-footer">
        <div class="d-flex justify-content-end">
             {{ form.savingSubmit (class="btn btn-info") }}
        </div>
      </div>
        </form>
    </div>
  </div>
</div>
<section class="bg-light mt-3 container border border-secondary">
    <div>
        <div class="float-right row mt-1">
            <button class="badge btn-info mr-2" data-toggle="modal" data-target="#CashOut">Add Balance</button>
            <button class="badge btn-success mr-2" data-toggle="modal" data-target="#AddBal">Cash Out</button>
            <a href="/editSavings/{{ saving.get_savingID() }}"><button class="badge btn-primary mr-2">Edit</button></a>
        </div>
        <div class="clearfix"></div>
        <form>
            <div class="form-group row">
                <label for="staticType" class="col-sm-2 col-form-label">Type</label>
                <div class="col-10">
                  <input type="text" readonly class="form-control-plaintext" id="staticType" value="{{ saving.get_type() }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="staticDeadline" class="col-sm-2 col-form-label">Deadline</label>
                <div class="col-10">
                  <input type="text" readonly class="form-control-plaintext" id="staticDeadline" value="{{ saving.get_deadline() }}">
                </div>
            </div>
            {% if saving.get_type() != "Personal" %}
                <div class="form-group row">
                    <label for="staticSavers" class="col-sm-2 col-form-label">Savers</label>
                    <div class="col-10">
                      <input type="text" readonly class="form-control-plaintext" id="staticSavers" value="{{ saving.get_savers() }}">
                    </div>
                </div>
            {% endif %}
            {% set depositMeth = saving.get_depositMeth().split(',') %}
            {% if depositMeth[0] != "Auto" %}
                <div class="form-group row">
                    <label for="staticMethod" class="col-sm-2 col-form-label">Deposit Method</label>
                    <div class="col-10">
                      <input type="text" readonly class="form-control-plaintext" id="staticMethod" value="{{ depositMeth[0] }}">
                    </div>
                </div>
            {% else %}
                <div class="form-group row">
                    <label for="staticMethod" class="col-sm-2 col-form-label">Deposit Method</label>
                    <div class="col-10">
                      <input type="text" readonly class="form-control-plaintext" id="staticMethod" value="{{ depositMeth[0] }}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="staticMethod" class="col-sm-2 col-form-label">Deposit Amount</label>
                    <div class="col-10">
                      <input type="text" readonly class="form-control-plaintext" id="staticMethod" value="{{ depositMeth[1] }}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="staticMethod" class="col-sm-2 col-form-label">Deposit Account</label>
                    <div class="col-10">
                      <input type="text" readonly class="form-control-plaintext" id="staticMethod" value="{{ depositMeth[2] }}">
                    </div>
                </div>
            {% endif %}
            <div class="form-group row">
                <label for="staticGoal" class="col-sm-2 col-form-label">Savings Goal</label>
                <div class="col-10">
                  <input type="text" readonly class="form-control-plaintext" id="staticGoal" value="{{ saving.get_goal() }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="staticAmount" class="col-sm-2 col-form-label">Amount Saved</label>
                <div class="col-10">
                  <input type="text" readonly class="form-control-plaintext" id="staticAmount" value="{{ saving.get_savedAmount() }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="staticDescription" class="col-sm-2 col-form-label">Description</label>
                <div class="col-10">
                  <input type="text" readonly class="form-control-plaintext" id="staticDescription" value="{{ saving.get_description() }}">
                </div>
            </div>
        </form>
    </div>
</section>

{% endblock %}