{% extends 'layout.html' %}
{% block body %}
<section class="container">
 <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/expenditure_Dash/{{ bank }}/{{ month }}">Dashboard</a></li>
    <li class="breadcrumb-item active">Week {{ week }} {{ month }} {{ bank }}</li>
  </ol>
</nav>
    <div>
    <h2>Transaction History</h2>
            <div class="table-responsive">
                <table class="table table-striped mt-2 table-sm">
            <thead>
              <tr>
                <th>Date
                <span onclick=""><i class="fas fa-sort"></i></span>
                </th>
                  <th>MCC
                  <i class="fas fa-sort"></i>
                  </th>
                  <th>Category
                  <i class="fas fa-sort"></i>
                  </th>
                  <th>Description
                  <i class="fas fa-sort"></i>
                  </th>
                  <th>Withdrawals
                  <i class="fas fa-sort"></i>
                  </th>
                  <th>Balance</th>
              </tr>
            </thead>
            <tbody>
            {%  if weekitems[0] == "invalid" %}
                <p>Errror</p>
            {%  else %}
                {% for transaction in weekitems %}
                    {% if transaction.get_bank() == bank %}
                    {% if transaction.get_month() == month %}
                            <tr>
                                <td>{{ transaction.get_date() }}</td>
                                <td>{{ transaction.get_merchant_code() }}</td>
                                <td>{{ transaction.get_category() }}</td>
                                <td>{{ transaction.get_description() }}</td>
                                {% if transaction.get_type() == "Withdrawal" %}
                                <td>{{ "%.2f" | format(transaction.get_amount()) }}</td>
                            </tr>
                        {% endif %}
                    {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            </tbody>
            </table>
            </div>

            </div>
</section>
{% endblock %}
